/* COMMON */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.1em;
}
.container {
  width: 70%;
  margin: 0 auto;
}


/*COLUMNS */
.row [class*="col-"] {
  background-color: PINK;
  border: 1px solid black;
  height: 20vh;
  position: relative;
  text-align: center;
}
.row [class*="col-"] span  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row:nth-child(5) [class*="col-"] {
  padding: 0.4%;
}
.row:nth-child(5) [class*="col-"] [class*="col-"] {
  background-color: #F07F80;
  border: 1px solid white;
  height: 100%;
}
