/* COMMON */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.1em;
}
.container {
  background-color: #F07F80;
  width: 70%;
  margin: 0 auto;
  transition: 0.5s;
}
.row {
  text-align: center;
  width: 100%;
}

/*ALL COLUMNS */
.row [class*="col-"] {
  background-color: PINK;
  height: 20vh;
  position: relative;
  border: 1px solid black;
  padding: 0.4%;
}
.row [class*="col-"] span  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.row:nth-child(5) [class*="col-"] [class*="col-"] {
  background-color: #F07F80;
  border: 1px solid white;
  height: 100%;
}


/* BREAKPOINT LOW-RES */
@media screen and (max-width:1360px) {
  .container {
    width: 100%;
    transition: 0.5s;
  }
}
