/* COMMON */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.1em;
}
.container {
  background-color: #F07F80;
  width: 70%;
  margin: 0 auto;
}
.row {
  text-align: center;
  width: 100%;
  transition: 0.5s;
}

/*ALL COLUMNS */
.row [class*="col-"] {
  background-color: PINK;
  border: 1px solid black;
  height: 20vh;
  position: relative;
}
.row [class*="col-"] span  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row:nth-child(5) [class*="col-"] {
  padding: 0.4%;
}
.row:nth-child(5) [class*="col-"] [class*="col-"] {
  background-color: #F07F80;
  border: 1px solid white;
  height: 100%;
}


/* (BONUS) THIRD ROW*/
.row:nth-child(3) [class*="col-"]:first-child [class*="col-"] {
  border: none;
  background-color: lightblue;
}
.row:nth-child(3) [class*="col-"]:first-child [class*="col-"]:nth-child(3n+1) {
  color: red;
}
.row:nth-child(3) [class*="col-"]:first-child [class*="col-"]:nth-child(3n+2) {
  color: blue;
}
.row:nth-child(3) [class*="col-"]:first-child [class*="col-"]:nth-child(3n+3) {
  color: yellow;
}


/* BREAKPOINT LOW-RES */
@media screen and (max-width:1360px) {
  .row {
    width: 100%;
    transition: 0.5s;
  }
}
